<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<section class="container" layout:fragment="content">
		<h3 class="page-header">Lista de Convidados</h3>
		<p th:if="${mensagem} != null" th:text="${mensagem}"></p>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="convidado: ${convidados}">
					<td th:text="${convidado.id}"></td>
					<td th:text="${convidado.nome}"></td>
					<td><a class="btn btn-success"
						th:href="@{/convidados/editar/{id}(id=${convidado.id})}">Editar</a>

						<a class="btn btn-danger"
						th:href="@{/convidados/excluir/{id}(id=${convidado.id})}">Excluir</a>
					</td>
			</tbody>
		</table>
		<div class="form-group">
			<a class="btn btn-primary" th:href="@{/convidados/adicionar}"> <span
				class="fa fa-plus"></span>Adicionar
			</a>
		</div>
		<div></div>
	</section>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>